<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to our Community</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
            margin: 0;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            margin-top: 10px;
        }

        a {
            color: #428bca;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Join Our Community!</h1>
    <p>You need to be <a href="{% url 'registration_page' %}">registered</a> or <a href="{% url 'login_page' %}">logged </a>in to access this page.</p>
</body>
</html>
