{% extends 'base.html' %}

{% block content %}

  {% if favorites %}
  <h2>Favorites</h2>
  {% else %}
    <h2>It's empty here yet</h2>
  {% endif %}
  <div class="row mb-5">
    {% for item in favorites %}
      <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
        <div class="block-4 text-center border">
          <figure class="block-4-image">
            <a href="{% url 'item_detail' slug=item.slug %}">
              <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid">
            </a>
          </figure>
          <div class="block-4-text p-4">
            <h3><a href="{% url 'item_detail' slug=item.slug %}">{{ item.name }}</a></h3>
            <p class="mb-0">{{ item.category.name }}</p>
            <p class="text-primary font-weight-bold">${{ item.price }}</p>
            <form method="post" action="{% url 'remove_from_favorites' %}">
              {% csrf_token %}
              <input type="hidden" name="slug" value="{{ item.slug }}">
              <button type="submit" class="btn btn-link">Remove</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}
