{% extends 'base.html' %}
{% block content %}

<style>
    .active {
    border-top: 2px solid #8D6CC6;
}
</style>
<div class="bg-light py-3">
    <div class="container">
            <div class="row justify-content-center">
            {% if selected_subcategory %}
            <!--Sort-->
            <div class="form-group mr-2 {% if request.GET.ordering %}active{% endif %}">
                <button type="button"  class="btn btn-secondary btn-sm dropdown-toggle custom-text-size"
                        id="dropdownMenuReference" data-toggle="dropdown">Sort
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}&ordering=name_az">
                        Name, A to Z
                    </a>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}&ordering=name_za">
                        Name, Z to A
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}&ordering=low_to_high">Price,
                        low to high</a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}&ordering=high_to_low">Price,
                        high to low</a>
                    <hr>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}&ordering=newest">
                        Newest First</a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}&ordering=oldest">
                        Oldest First</a>
                    <hr>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                       Clear
                    </a>

                </div>
            </div>
            <!--Type-->
            <div class="form-group mr-2 {% if selected_type %}active{% endif %}">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceType" data-toggle="dropdown">Type
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceType">
                    {% for type in types %}
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&type={{ type.slug }}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        <span class="text-black ml-auto">{{ type.type }} ({{ type.types.count }})</span>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        Clear
                    </a>
                </div>
            </div>
            <!--Size-->
            <div class="form-group mr-2 {% if selected_size %}active{% endif %}">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Size
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    {% for size in sizes %}
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&size={{ size.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        <span class="text-black ml-auto">{{ size.size }} ({{ size.sizes.count }})</span>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        Clear
                    </a>
                </div>
            </div>
            <!--Brand-->
            <div class="form-group mr-2 {% if selected_brand %}active{% endif %}">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Brand
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    {% for brand in brands %}
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&brand={{ brand.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        <span class="text-black ml-auto">{{ brand.brand }} ({{ brand.brands.count }})</span>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        Clear
                    </a>
                </div>
            </div>
            <!--Color-->
            <div class="form-group mr-2 {% if selected_color %}active{% endif %}">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Color
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    {% for color in colors %}
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&color={{ color.slug }}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        <span class="text-black ml-auto">{{ color.name }} ({{ color.colors.count }})</span>
                    </a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        Clear
                    </a>
                </div>
            </div>
            <!-- Price -->
            <div class="form-group mr-2 {% if request.GET.max_price or request.GET.min_price %}active{% endif %} ">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    <div class="mb-4">
                        <form method="get" action="{% url 'item_list' %}">
                            <input type="hidden" name="category" value="{{ selected_category.slug|lower }}">
                            <input type="hidden" name="subcategory" value="{{ selected_subcategory.slug|lower }}">
                            {% if selected_type %}
                            <input type="hidden" name="type" value="{{ selected_type.slug|lower }}">
                            {% endif %}
                            {% if selected_size %}
                            <input type="hidden" name="size" value="{{ selected_size.slug|lower }}">
                            {% endif %}
                            {% if selected_brand %}
                            <input type="hidden" name="brand" value="{{ selected_brand.slug|lower }}">
                            {% endif %}
                            {% if selected_color %}
                            <input type="hidden" name="color" value="{{ selected_color.slug|lower }}">
                            {% endif %}

                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Min Price</h3>
                            <input type="number" name="min_price" id="min_price" value="{{ request.GET.min_price }}"
                                   step="0.01" placeholder="Min: {{ min_price }}">
                            <br><br>
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Max Price</h3>
                            <input type="number" name="max_price" id="max_price" value="{{ request.GET.max_price }}"
                                   step="0.01" placeholder="Max: {{ max_price }}">
                            <br><br>
                            <a class="dropdown-item"
                               href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}"
                               onclick="this.href += document.getElementById('min_price').value ? '&min_price=' + document.getElementById('min_price').value : ''; this.href += document.getElementById('max_price').value ? '&max_price=' + document.getElementById('max_price').value : '';">
                                Apply
                            </a>
                        </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        Clear
                    </a>
                </div>
                </div>
            </div>
             <!--Discount-->
            <div class="form-group mr-2 {% if request.GET.discount %}active{% endif %} ">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Discount
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=up_to_20{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">Up to 20%</span>
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=20_to_30{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">20% - 30%</span>
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=30_to_40{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">30% - 40%</span>
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=40_to_50{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">40% - 50%</span>
                    </a>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=50_to_60{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">50% - 60%</span>
                    </a>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=60_or_more{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">60% to more</span>
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        Clear
                    </a>
                </div>
            </div>
            {% else  %}
            <div class="col-md-12 mb-0">
                <a href="{% url 'category' %}"><strong
                    class="text-black" >Home / </strong></a>
                <a href="{% url 'item_list' %}"><strong
                    class="text-black" >Shop</strong></a></div>
            {% endif %}
        </div>

        <!-- FOR SEARCH PRODUCTS -->
            <div class="row justify-content-center">
                {% if search %}
                <!-- Color -->
                <div class="form-group mr-2 {% if selected_subcategory %}active{% endif %}">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                            id="dropdownMenuReferenceType" data-toggle="dropdown">Color
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceType">
                        {% for color in colors %}
                        <a class="dropdown-item"
                           href="{% url 'item_list' %}?q={{ q }}&color={{ color.slug|lower }}">
                            <span class="text-black ml-auto">{{ color.name }} ({{ color.colors.count }})</span>
                        </a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item"
                           href="{% url 'item_list' %}?q={{ q }}">
                            Clear
                        </a>
                    </div>
                </div>
            <!-- Price -->
            <div class="form-group mr-2 {% if request.GET.max_price or request.GET.min_price %}active{% endif %} ">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    <div class="mb-4">
                        <form method="get" action="{% url 'item_list' %}">
                            <input type="hidden" name="category" value="{{ selected_category.slug|lower }}">
                            <input type="hidden" name="subcategory" value="{{ selected_subcategory.slug|lower }}">
                            {% if selected_type %}
                            <input type="hidden" name="type" value="{{ selected_type.slug|lower }}">
                            {% endif %}
                            {% if selected_size %}
                            <input type="hidden" name="size" value="{{ selected_size.slug|lower }}">
                            {% endif %}
                            {% if selected_brand %}
                            <input type="hidden" name="brand" value="{{ selected_brand.slug|lower }}">
                            {% endif %}
                            {% if selected_color %}
                            <input type="hidden" name="color" value="{{ selected_color.slug|lower }}">
                            {% endif %}

                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Min Price</h3>
                            <input type="number" name="min_price" id="min_price" value="{{ request.GET.min_price }}"
                                   step="0.01" placeholder="Min: {{ min_price }}">
                            <br><br>
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Max Price</h3>
                            <input type="number" name="max_price" id="max_price" value="{{ request.GET.max_price }}"
                                   step="0.01" placeholder="Max: {{ max_price }}">
                            <br><br>
                            <a class="dropdown-item"
                               href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}{% if selected_type %}&type={{ selected_type.slug|lower }}{% endif %}{% if selected_size %}&size={{ selected_size.slug|lower }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug|lower }}{% endif %}{% if selected_color %}&color={{ selected_color.slug|lower }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}"
                               onclick="this.href += document.getElementById('min_price').value ? '&min_price=' + document.getElementById('min_price').value : ''; this.href += document.getElementById('max_price').value ? '&max_price=' + document.getElementById('max_price').value : '';">
                                Apply
                            </a>
                        </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if request.GET.discount %}&discount={{ request.GET.discount }}{% endif %}">
                        Clear
                    </a>
                </div>
                </div>
            </div>
             <!--Discount-->
            <div class="form-group mr-2 {% if request.GET.discount %}active{% endif %} ">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                        id="dropdownMenuReferenceSize" data-toggle="dropdown">Discount
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReferenceSize">
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=up_to_20{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">Up to 20%</span>
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=20_to_30{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">20% - 30%</span>
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=30_to_40{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">30% - 40%</span>
                    </a>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=40_to_50{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">40% - 50%</span>
                    </a>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=50_to_60{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">50% - 60%</span>
                    </a>

                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}&discount=60_or_more{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        <span class="text-black ml-auto">60% to more</span>
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       href="{% url 'item_list' %}?category={{ selected_category.slug }}&subcategory={{ selected_subcategory.slug }}{% if selected_color %}&color={{ selected_color.slug }}{% endif %}{% if selected_type %}&type={{ selected_type.slug }}{% endif %}{% if selected_size %}&size={{ selected_size.slug }}{% endif %}{% if selected_brand %}&brand={{ selected_brand.slug }}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">
                        Clear
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        {% if selected_subcategory %}
        {% if selected_category %}
        <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}" style="color: black;">
            <strong><span>{{ selected_category }} |</span></strong>
        </a>
        {% endif %}
        {% if selected_subcategory %}
        <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug|lower }}" style="color: black;">
            <strong><span>{{ selected_subcategory }} |</span></strong>
            </a>
        {% endif %}
        {% if selected_type %}
        <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug }}&type={{ selected_type.slug|lower }}" style="color: black;">
                <strong><span>{{ selected_type }} |</span></strong>
            </a>
        {% endif %}
        {% if selected_size %}
        <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug }}&size={{ selected_size.slug|lower }}" style="color: black;">
                <strong><span>{{ selected_size }} |</span></strong>
            </a>
        {% endif %}
        {% if selected_brand %}
        <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug }}&brand={{ selected_brand.slug|lower }}" style="color: black;">
                <strong><span>{{ selected_brand }} |</span></strong>
            </a>
        {% endif %}
        {% if selected_color %}
        <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ selected_subcategory.slug }}&color={{ selected_color.slug|lower }}" style="color: black;">
                <strong><span>{{ selected_color }} |</span></strong>
            </a>
        {% endif %}
        {% endif %}

    </div>

</div>

<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-9 order-2">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        {% if selected_category %}
                        <div class="float-md-left mb-4">
                            <h2 class="text-black h5">Shop for {{ selected_category }}</h2>
                        </div>
                        {% elif q %}
                        <div class="float-md-left mb-4">
                            <h2 class="text-black h5">Results for "{{ q }}"</h2>
                        </div>
                        {% elif search %}
                        <div class="float-md-left mb-4">
                            <h2 class="text-black h5">Results for "{{ q }}"</h2>
                        </div>
                        {% else %}
                        <div class="float-md-left mb-4">
                            <h2 class="text-black h5">Shop for All</h2>
                        </div>
                        {% endif %}

                        {% if not selected_subcategory and not search  %}
                        <div class="d-flex">
                            <div class="dropdown mr-1 ml-md-auto">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                                        id="dropdownMenuReference" data-toggle="dropdown">Sort
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                                    <a class="dropdown-item"
                                       href="{% url 'item_list' %}{% if selected_category %}?category={{ selected_category.slug|lower }}&{% else %}?{% endif %}ordering=name_az">
                                        Name, A to Z
                                    </a>

                                    <a class="dropdown-item"
                                       href="{% url 'item_list' %}{% if selected_category %}?category={{ selected_category.slug|lower }}&{% else %}?{% endif %}ordering=name_za">
                                        Name, Z to A
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{% url 'item_list' %}{% if selected_category %}?category={{ selected_category.slug|lower }}&{% else %}?{% endif %}ordering=low_to_high">Price,
                                        low to high</a>
                                    <a class="dropdown-item"
                                       href="{% url 'item_list' %}{% if selected_category %}?category={{ selected_category.slug|lower }}&{% else %}?{% endif %}ordering=high_to_low">Price,
                                        high to low</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item"
                                       href="{% url 'item_list' %}{% if selected_category %}?category={{ selected_category.slug|lower }}&{% else %}?{% endif %}ordering=newest">
                                        Newest First</a>
                                    <a class="dropdown-item"
                                       href="{% url 'item_list' %}{% if selected_category %}?category={{ selected_category.slug|lower }}&{% else %}?{% endif %}ordering=oldest">
                                        Oldest First</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-5">
                    {% include 'components/item_list.html' %}
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-1 mb-5 mb-md-0">
                {% if not search %}
                <div class="border p-4 rounded mb-4">
                    {% if selected_category %}
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Sub Categories</h3>
                    <ul class="list-unstyled mb-0">
                        {% for subcategory in subcategories %}
                            <li class="mb-1">
                                <a href="{% url 'item_list' %}?category={{ selected_category.slug|lower }}&subcategory={{ subcategory.slug }}">
                                    <strong><span>{{ subcategory.subcategory }}</span></strong>
                                    <span class="text-black ml-auto">{{ subcategory.subcategories.count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% elif not selected_category %}
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                    <ul class="list-unstyled mb-0">
                        {% for category in categories %}
                        <li class="mb-1">
                            <a href="{% url 'item_list' %}?category={{ category.slug }}"  class="d-flex">
                                <strong><span>{{ category.name }}</span></strong>
                                <span class="text-black ml-auto">{{ category.categories.count }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% endblock %}