{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wardrobe &mdash; Wonderland</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'shop/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'shop/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
</style>
</head>
<body>
  <div class="site-wrap">
    <header class="site-navbar" role="banner" style="background-color: #f2f2f2;">
          <div class="site-navbar-top">
              <div class="container">
                  <div class="row align-items-center justify-content-center">
                      <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                          <div class="site-logo">
                              <a href="{% url 'category' %}" class="js-logo-clone" style="display: inline-block;">Wardrobe Wonderland</a>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div style="text-align: center; margin-bottom: 10px;">
            <a class="" href="{% url 'account:dashboard' %}" style="text-decoration: none; color: black; font-size: 24px; display: block; margin: 50px auto 20px; width: 200px;">MY ACCOUNT</a>
        </div>
        <div class="card" style="border-radius: 36px;">
          <div class="card-body p-5">
            <h3 style="margin-top: -20px; text-align: center; font-size: 24px;">MY DETAILS</h3>
              <hr>
              <h3 style="color: black; font-size: 18px;">Update info of your account</h3>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-secondary w-100 btn-block p-2 btn-register">Update account</button>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
